{% extends 'core/page.html' %}
{% load i18n %}

{% block page %}

    <h1>{% trans "Contact Form" %}</h1>

    {% if user.is_authenticated %}
        <p>
            {% trans "Please enter your contact details and your message." %}
        </p>

        <form method="post" action="{% url 'contact:contact' %}" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />

            {% include 'core/partials/form_fields.html' %}

            <div>
                <button type="submit" class="btn {{ submit_danger|yesno:'btn-danger,btn-primary' }}">
                    {% trans 'Send message' %}
                </button>
            </div>
        </form>
    {% else %}
        {% trans "Please log in to be able to fill the contact form." %}
    {% endif %}

{% endblock %}
