<div class="form-group" ng-class="{'has-error': errors }">

    <div class="fw-bold mb-1" for="{$ field $}" ng-bind-html="label"></div>

    <div id="{$ id $}" class="daiquiri-multi-checkbox">

        <div class="form-check" ng-repeat="option in options" ng-hide="optionsFilter">
            <input id="{$ id $}-option-{$ option[optionsId] $}" type="checkbox" class="form-check-input" ng-model="model" data-value="{$ option[optionsId] $}" multi-checkbox>
            <label for="{$ id $}-option-{$ option[optionsId] $}" class="form-check-label">
                <span>{$ option[optionsLabel] $}</span>
            </label>
        </div>

        <div class="checkbox" ng-repeat="option in options | filter: optionsFilter" ng-show="optionsFilter">
            <input id="{$ id $}-option-{$ option[optionsId] $}-f" type="checkbox" class="form-check-input" ng-model="model" data-value="{$ option[optionsId] $}" multi-checkbox>
            <label for="{$ id $}-option-{$ option[optionsId] $}-f" class="form-check-label">
                <span>{$ option[optionsLabel] $}</span>
            </label>
        </div>

        <div ng-hide="options.length">
            <i>{$ optionsEmpty $}</i>
        </div>

    </div>

    <p class="form-text" ng-show="help">{$ help $}</p>

    <ul class="form-text list-unstyled">
        <li ng-repeat="error in errors">{$ error $}</li>
    </ul>
</div>
