{% load i18n %}

<div class="modal" id="enable-user-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="enable-user-modal-title">
                    {% trans 'Enable user' %}
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}">
                </button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    {% trans 'Close' %}
                </button>
                <button type="button" class="btn btn-primary" ng-click="service.store_profile('enable')">
                    {% trans 'Enable user' %}
                </button>
            </div>
        </div>
    </div>
</div>
