{% load i18n %}

<div class="modal" id="reject-user-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="reject-user-modal-title">
                    {% trans 'Reject user' %}
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}">
                </button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    {% trans 'Close' %}
                </button>
                <button type="button" class="btn btn-danger" ng-click="service.store_profile('reject')">
                    {% trans 'Reject user' %}</span>
                </button>
            </div>
        </div>
    </div>
</div>
