{% load i18n %}

<div class="modal" id="tables-attribution-form-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {% trans 'Update table attribution' %}
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" tabindex="-1">
                </button>
            </div>

            <div class="modal-body">
                <formgroup
                    data-id="tables-attribution"
                    data-type="codemirror"
                    data-label="{{ meta.Table.attribution.verbose_name }}"
                    data-help="{{ meta.Table.attribution.help_text }}"
                    data-model="service.values.attribution"
                    data-errors="service.errors.attribution"
                    data-mode="markdown">
                </formgroup>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    {% trans 'Close' %}
                </button>
                <button type="button" class="btn btn-outline-secondary"
                        ng-click="service.submitFormModal('tables', false)">
                    {% trans 'Save' %}
                </button>
                <button type="button" class="btn btn-primary"
                        ng-click="service.submitFormModal('tables')">
                    {% trans 'Save and close' %}
                </button>
            </div>
        </div>
    </div>
</div>
