{% load i18n %}

<div class="modal" id="examples-modal-delete" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {% trans 'Delete example query' %}
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body">
                <p>
                    {% blocktrans trimmed %}
                        You are about to permanently delete the example query <strong>{$ service.current_row.name $}</strong>.
                    {% endblocktrans %}
                </p>
                <p class="text-danger">
                    {% trans 'This action cannot be undone!' %}
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    {% trans 'Close' %}
                </button>
                <button type="button" class="btn btn-danger"
                        ng-click="service.delete_example()">
                    {% trans 'Delete' %}
                </button>
            </div>
        </div>
    </div>
</div>
