{% load i18n %}

<div class="modal" id="show-job-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {% trans 'Job parameters' %}
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body">
                <dl class="job-overview">
                    <dt>{% trans 'Job status' %}</dt>
                    <dd ng-class="{
                                  'text-success': service.job.phase == 'COMPLETED',
                                  'text-warning': service.job.phase == 'TIMEOUT',
                                  'text-danger': service.job.phase == 'ERROR',
                                  'text-info': service.job.phase == 'QUEUED'}">
                        {$ (service.phases|filter: {'id': service.job.phase})[0].text $}
                    </dd>

                    <dt ng-show="service.job.phase =='ERROR'">{% trans 'Error' %}</dt>
                    <dd ng-show="service.job.phase =='ERROR'" class="text-danger">{$ service.job.error_summary $}</dd>

                    <div class="modal-separator"></div>

                    <dt>{% trans 'Internal job id' %}</dt>
                    <dd>{$ service.job.id $}</dd>

                    <dt>{% trans 'Schema name' %}</dt>
                    <dd>{$ service.job.schema_name $}</dd>

                    <dt>{% trans 'Table name' %}</dt>
                    <dd>{$ service.job.table_name $}</dd>

                    <div class="modal-separator"></div>

                    <dt>{% trans 'Time submitted' %}</dt>
                    <dd>{$ service.job.creation_time | date:'medium' $}</dd>

                    <dt>{% trans 'Queue' %}</dt>
                    <dd>{$ (service.queues|filter: {'id': service.job.queue})[0].text $}</dd>

                    <dt ng-show="service.job.start_time && service.job.creation_time">{% trans 'Time in queue' %}</dt>
                    <dd ng-show="service.job.start_time && service.job.creation_time">{$ service.job.time_queue $} s</dd>

                    <dt ng-show="service.job.end_time && service.job.start_time">{% trans 'Time for query' %}</dt>
                    <dd ng-show="service.job.end_time && service.job.start_time">{$ service.job.time_query $} s</dd>

                    <dt ng-show="service.job.nrows != null">{% trans 'Number of rows' %}</dt>
                    <dd ng-show="service.job.nrows != null">{$ service.job.nrows $}</dd>

                    <dt ng-show="service.job.size != null">{% trans 'Size of the table' %}</dt>
                    <dd ng-show="service.job.size != null">{$ service.job.size | bytes $}</dd>

                    <div class="modal-separator"></div>

                    <dt>{% trans 'Query' %}</dt>
                    <dd>
                        <div class="cm-s-default" id="query">
                            {$ service.job.query $}
                        </div>
                    </dd>

                    <dt>{% trans 'Native query' %}</dt>
                    <dd>
                        <div class="cm-s-default" id="native-query">
                            {$ service.job.native_query $}
                        </div>
                    </dd>

                    <dt>{% trans 'Actual query' %}</dt>
                    <dd>
                        <div class="cm-s-default" id="actual-query">
                            {$ service.job.actual_query $}
                        </div>
                    </dd>
                </dl>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    {% trans 'Close' %}
                </button>
            </div>
        </div>
    </div>
</div>
