{% load i18n %}

<div class="modal" id="abort-job-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {% trans 'Abort job' %}
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body">
                <p>
                    {% blocktrans trimmed with table_name='{$ service.values.table_name $}' %}
                        You are about to abort the job <code>{{ table_name }}</code>.
                    {% endblocktrans %}
                </p>
                <p class="text-danger">
                    {% trans 'This action cannot be undone!' %}
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    {% trans 'Close' %}
                </button>
                <button type="button" class="btn btn-danger"
                        ng-click="service.abort_job()">
                    {% trans 'Abort' %}
                </button>
            </div>
        </div>
    </div>
</div>
