{% load widget_tweaks %}
{% load core_tags %}

<div class="g-0 row{% if field.errors %} has-error{% endif %} field-{{field.html_name}}">

    {% with field|widget_type as type %}
        <label for="{{ field.id_for_label }}" class="fw-bold col-form-label">{{ field.label }}</label>
        {% if type == 'radioselect' %}

            {% for choice in field %}
                <div class="radio">
                    <label>
                        {{ choice.tag }}
                        {{ choice.choice_label }}
                    </label>
                </div>
            {% endfor %}

        {% elif type == 'yesno' %}

            <div class="radio">
                {% for choice in field %}
                    <label class="radio-inline">
                        {{ choice.tag }}
                        {{ choice.choice_label }}
                    </label>
                {% endfor %}
            </div>

        {% elif type == 'checkboxinput' %}

            <div class="checkbox">
                <label>
                    {{ field }}
                    {{ field.label }}
                </label>
            </div>

        {% elif type == 'checkboxselectmultiple' %}

            {% for choice in field %}
                <div class="checkbox">
                    <label>
                        {{ choice.tag }}
                        {{ choice.choice_label }}
                    </label>
                </div>
            {% endfor %}

        {% else %}

            {% render_field field class="form-control" required=false %}

        {% endif %}
    {% endwith %}

    {% if field.errors %}
        <div class="form-text error">
            <p class="text-danger">{{ field.errors.as_text}}</p>
        </div>
    {% endif %}

    <div class="form-text info">
        {{ field.help_text }}
        {{ helptext }}
        {% block helptext %}{% endblock %}
    </div>
</div>
