{% extends 'core/page.html' %}
{% load i18n %}

{% block page %}

    <h1>{% trans "E-mail Addresses" %}</h1>

    {% if user.emailaddress_set.all %}

        <p>
            {% trans 'E-mail addresses associated with your account:' %}
        </p>

        <form action="{% url 'account_email' %}" method="post">
            {% csrf_token %}

            <fieldset>

                {% for emailaddress in user.emailaddress_set.all %}

                    <div class="form-check border-top border-bottom pt-2 pb-2">
                        <input id="email_radio_{{forloop.counter}}" class="form-check-input" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked{%endif %} value="{{emailaddress.email}}">
                        <label for="email_radio_{{forloop.counter}}" class="fw-bold form-check-label {% if emailaddress.primary %}primary_email{%endif%}">
                            {{ emailaddress.email }}
                        </label>

                        <div class="pull-right">
                            {% if emailaddress.primary %}
                                <span class="badge bg-primary">{% trans "Primary" %}</span>
                            {% endif %}

                            {% if emailaddress.verified %}
                                <span class="badge bg-success">{% trans "Verified" %}</span>
                            {% else %}
                                <span class="badge bg-warning">{% trans "Unverified" %}</span>
                            {% endif %}
                        </div>
                    </div>

                {% endfor %}

                <div class="email-form-buttons mt-3 mb-3">
                    <button class="btn btn-outline-secondary" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
                    <button class="btn btn-outline-secondary" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
                    <button class="btn btn-primary" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
                </div>

            </fieldset>
        </form>

    {% else %}

        <p>
            <strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
        </p>

    {% endif %}

    <h2>{% trans "Add E-mail Address" %}</h2>

    <form method="post" action="{% url 'account_email' %}">
        {% csrf_token %}

        {% include 'core/partials/form_fields.html' %}

        <button class="btn btn-primary" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
    </form>

{% endblock %}
